ul {
  display: inline-block;
  padding-left: 0px;
}
li {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  margin: 5px;
  height: 150px;
  width: 65px;
  border: none;
  border-radius: 10px;
  background: #7ea0ea;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

li:hover {
  transition: 0.5s;
  transform: scale(1.1);
  background: #aec6f8;
}

.icon {
  size: 2px;
}
